@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
}

body {
    background: #FAFAFA;
    font-family: 'Roboto';
}

header{
    width: 100%;
    height: 69px;
    background-color: #EC362D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 1;
}

.header{
    width: 100vw;
    height: 69px;
    background-color: #EC362D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
}

html{

    position: relative;
}

h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 37px;
    color: #FFFFFF;
    font-family: 'Roboto';
}

h3 {
    width: 158px;
    height: 23px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #000000;
    font-family: 'Roboto';
    margin-top: 50px;
    margin-left: 194px;
}

.hidden {
    display: none;
}

.create-quizz-container {
    width: 1051px;
    height: 181px;
    border: 1px dashed #D5D5D5;
    border-radius: 5px;
    margin-top: 146px;
    margin-left: 194px;
}

.create-quizz-container h2 {
    width: 250px;
    height: 107px;
    font-weight: 400;
    font-size: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #B9B9B9;
    margin-left: 400px;
    margin-top: 7px;
    font-family: 'Roboto';
}

.create-quizz-button {
    width: 151px;
    height: 40px;
    background: #FAFAFA;
    border: 1px dashed #EC362D;
    border-radius: 50px;
    margin-left: 460px;
}

.create-quizz-button p {
    width: 136px;
    height: 40px;
    font-weight: 400;
    font-size: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #EC362D;
    margin-left: 5px;
    font-family: 'Roboto';
    cursor: pointer;
}

.your-quizzes {
margin-top:50px;
}

.your-quizzes-title {
    display: flex;
    align-items: center;
    text-align: center;
}

.your-quizzes-title ion-icon {
    font-size: 30px;
    color: #EC362D;
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 50px;
}

.quizz-container {
    display: flex;
    width: 1051px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
    margin-left: 190px;
}

.quizz {
    margin-bottom: 8px;
}

.quizz img {
    width: 340px;
    height: 181px;
    border-radius: 5px;
}

.quizz span {
    width: 301px;
    height: 54px;
    font-weight: 400;
    font-size: 19px;
    display: flex;
    align-items: center;
    position: absolute;
    color: #fff;
    padding-top: 155px;
    padding-left: 20px;
}

/* @media () {} */

/* CSS da TELA 3.1 (INFOS BASICAS)*/

.form-create-quizz{   
    width: 100%;
    min-height: 100vh;
    background-color: #faf6f6;
    
}

.titulo{
    font-size: 23px;
    font-weight: 700;
    display: flex;
    justify-content: center;

}

.infos-basicas{
    margin: 0 auto;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}
.form-infos-basicas{
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: calc(100vh - 200px);

}


.form-create-quizz input{
    width: 564px;
    height: 46px;
    border-radius: 5px;
    border: none;
}
.form-create-quizz button{
    border: none;
    border-radius: 15px;
    width: 340px;
    height: 54px;
    color:#FFF5F4;
    background-color:#EC362D;
    font-size: 21px;
    margin: 0 auto;
}

/*CSS da TELA 3.3 (NÍVEIS)*/
.titulo-niveis{
    font-size: 23px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.perguntas-container {
    width: 100%;
    max-width: 600px;
    margin: 5px auto 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .titulo-perguntas {
    font-size: 23px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 15px;
}
.form-infos-niveis{
    margin: 0 auto;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
   
}
.form-infos-niveis input{
    margin-top: 10px;
    margin-bottom: 10px;
}
.form-niveis{   
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: calc(100% + 300px);
    
}
input .descricao-nivel{
    height: 500px;
}

  .collapsible, button.collapsible {
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(14, 14, 14, 0.05);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    max-width: 600px;
    border: none;
    text-align: left;
    outline: none;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    margin: 20px 0;
  }
  
  .collapsible ion-icon {
    content: "\002B";
    font-weight: bold;
    float: right;
    margin-left: 5px;
    font-size: 26px;
  }
  
  .collapsible ion-icon:hover {
    color: gray;
    cursor: pointer;
  }
  
  .content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
  }
  
  .subtitulo {
    font-size: 20px;
    font-weight: bold;
    margin: 15px 0 15px;
  }
  
  form {
    margin-top: 10px;
  }
  
  form input {
    width: 100%;
    padding: 12px;
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    margin-bottom: 9px;
  }
  .botao-prosseguir-perguntas {
    border: none;
    border-radius: 15px;
    width: 340px;
    height: 54px;
    color: #fff5f4;
    background-color: #ec362d;
    font-size: 21px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .botao-prosseguir-perguntas:hover {
    background-color: #aa311e;
    color: lightgray;
    cursor: pointer;
  }
  


/*Tela de sucesso do layout*/

.img-banner{
    width: 500px;
    height: 266px;
    position: relative;
    margin-bottom: 20px;
}

.img-banner img{
    object-fit:cover;
    width: 100%;
    height: 100%;
}

.img-banner p {
  
    color: #FFF;
    font-weight: bold;
    position: absolute;
    top: 90%;
}

.texto-voltar-home{
    margin-top: 10px;
    text-align: center;
    font-size: 21px;
    font-weight: 400;
    color: #818181;
    cursor: pointer;
}

.texto-voltar-home:hover{
    color: #585656;
}

.container-niveis button{
    border-radius: 0px;
}